$max-icon-height: 56px;
$max-icon-width: 47px;
$min-box-padding: 320px;
$max-box-padding: 340px;
$padding: (($min-box-padding - 3 * $max-icon-width) - (2 * 34px)) / 2;

.app-platforms {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin social-icon($url) {
  background-image: url($url);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: $max-icon-height;
  width: $max-icon-width;
}

.app-platforms__apple {
  @include social-icon("../img/logo-apple.svg");
}

.app-platforms__android {
  @include social-icon("../img/logo-android.svg");
}

.app-platforms__windows {
  @include social-icon("../img/logo-microsoft.svg");
}
