$original-photo-average-color: #283645;
$button-text-color: white;
$button-border-color: white;

.app-download {
  align-items: stretch;
  background-color: $original-photo-average-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 19px;
  padding-right: 19px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 30px;
}

.app-download__header {
  background-color: transparent;
  color: $header-text-color;
  display: none;
  font-size: 40px;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  text-align: center;
}

.app-download__btn {
  align-self: center;
  border-color: $button-border-color;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  color: $button-text-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  max-width: 340px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.app-download__platforms {
  margin-top: 20px;
  list-style: none;
}

.app-download__info {
  color: white;
  font-size: 14px;
  font-weight: $font-weight-light;
  line-height: 24px;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: $tablet-min-width) {
  .app-download {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    width: 300px;
  }

  .app-download__header {
    display: initial;
  }

  .app-download__btn {
    margin-top: 35px;
  }
}
