.app-download {
  align-items: stretch;
  background-color: $main-bg-color-fallback;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 23px;
  padding-bottom: 30px;
}

.app-download__header {
  background-color: transparent;
  color: white;
  display: none;
  font-size: 40px;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  text-align: center;
}

.app-download__btn {
  align-self: center;
  border-color: white;
  border-radius: 30px;
  border-width: 3px;
  border-style: solid;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  max-width: 340px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.app-download__platforms {
  margin-top: 32px;
  list-style: none;
}

.app-download__info {
  color: white;
  font-size: 14px;
  font-weight: $font-weight-light;
  line-height: 24px;
  margin-top: 22px;
  text-align: center;
}

@media (min-width: $tablet-min-width) {
  .app-download {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    padding-left: 0;
    padding-right: 0;
    width: 300px;
  }

  .app-download__header {
    display: initial;
  }

  .app-download__btn {
    margin-top: 35px;
  }

  .app-download__info {
    font-size: 18px;
    line-height: 1.333em;
  }
}

@media (min-width: $desktop-min-width) {
  .app-download__btn {
    font-size: 21px;
    line-height: 0.857em;
  }
}
