.app-download {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: relative;
  width: $mobile-max-content-width;
  z-index: 2;
}

.app-download::before {
  background-color: #1d2631;
  content: "";
  height: 100%;
  margin-left: calc(50% - 50vw - 20px);
  margin-right: calc(50% - 50vw - 20px);
  margin-top: -20px;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.app-download__header {
  background-color: transparent;
  color: white;
  display: none;
  font-size: 40px;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  text-align: center;
  width: 100%;
}

.app-download__btn {
  align-self: center;
  border-color: white;
  border-radius: 30px;
  border-width: 3px;
  border-style: solid;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  max-width: 340px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.app-download__platforms {
  margin-top: 32px;
  list-style: none;
}

.app-download__info {
  color: white;
  font-size: 14px;
  font-weight: $font-weight-light;
  line-height: 24px;
  margin-top: 22px;
  text-align: center;
}


@media (min-width: $tablet-min-width) {
  .app-download {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    margin-left: unset;
    margin-right: unset;
    padding-left: 0;
    padding-right: 0;
    width: 300px;
  }

  .app-download::before {
    content: none;
  }

  .app-download__header {
    display: initial;
  }

  .app-download__btn {
    margin-top: 31px;
  }

  .app-download__info {
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
  }

  .app-download__platforms {
    margin-top: 46px;
  }
}

@media (min-width: $desktop-min-width) {
  .app-download {
    padding-top: 8px;
  }

  .app-download__header {
    font-size: 50px;
  }

  .app-download__btn {
    font-size: 21px;
    line-height: 0.857em;
    margin-top: 52px;
  }

  .app-download__platforms {
    margin-top: 67px;
  }

  .app-download__info {
    margin-top: 57px;
  }
}
