$max-icon-height: 56px;
$max-icon-width: 47px;
$min-box-padding: 320px - 2 * 19px;
$max-box-padding: 340px;
$gap-between-icons: 33px;
$horizontal-padding: (($min-box-padding - 3 * $max-icon-width) - (2 * $gap-between-icons)) / 2;

.app-platforms {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
}

@mixin social-icon($url) {
  background-image: url($url);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: $max-icon-height;
  width: $max-icon-width;
}

.app-platforms__apple {
  @include social-icon("../img/logo-apple.svg");
}

.app-platforms__android {
  @include social-icon("../img/logo-android.svg");
  position: relative;
  top: 4px;
}

.app-platforms__windows {
  @include social-icon("../img/logo-microsoft.svg");
  position: relative;
  top: 5px;
}

@media (min-width: $tablet-min-width) {
  .app-platforms {
    padding-left: 47px;
    padding-right: 47px;
  }

  .app-platforms__android {
    top: 2px;
  }
}

@media (min-width: $tablet-min-width) {
  .app-platforms__android {
    top: 2px;
  }
}
