$original-photo-average-color: #283645;
$button-text-color: white;
$button-border-color: white;

.app-download {
  align-content: center;
  background-color: $original-photo-average-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  min-width: 320px;
  padding-top: 25px;
}

.app-download__header {
  background-color: transparent;
  color: $header-text-color;
  display: none;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2em;
  text-align: center;
}


.app-download__btn {
  align-self: center;
  border-color: $button-border-color;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  color: $button-text-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 320px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  text-align: center;
  width: 90%;
}

.app-download__platforms {
  list-style: none;
  margin-bottom: 20px;
}

.app-download__info {
  color: white;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: $tablet-min-width) {
  .app-download {
    background-color: transparent;
    max-width: 340px;
  }

  .app-download__header {
    display: initial;
  }

}
