$max-icon-height: 56px;
$max-icon-width: 47px;
$min-box-padding: 320px - 2 * 19px;
$max-box-padding: 340px;
$gap-between-icons: 33px;
$horizontal-padding: (($min-box-padding - 3 * $max-icon-width) - (2 * $gap-between-icons)) / 2;

.app-platforms {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
}

.app-platforms__box {
  display: block;
  height: $max-icon-height;
  width: $max-icon-width;
}

.app-platforms__icon {
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
}

.app-platforms__icon--apple {
  background-image: url("../img/logo-apple.svg");
  background-size: 47px 56px;
}

.app-platforms__icon--android {
  background-image: url("../img/logo-android.svg");
  background-size: 46px 47px;
  left: -1px;
  position: relative;
  top: 3px;
}

.app-platforms__icon--windows {
  background-image: url("../img/logo-microsoft.svg");
  background-size: 46px 41px;
  position: relative;
  top: 5px;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .app-platforms {
    padding-left: 47px;
    padding-right: 47px;
  }

  .app-platforms__icon--android {
    top: 2px;
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .app-platforms__icon--android {
    top: 4px;
  }
}
