$fieldname-text-color: #d22856;
$content-text-color: #283645;
$bg-color-shaded: rgb(242, 242, 242);
$bg-color-light: white;

.applicant-contacts {
  background-color: white;
  border-width: 0;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.applicant-contacts__legend {
  color: $text-color-redish;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.applicant-contacts__content {
  color: $text-color-dark;
  border-color: $bg-color-grayish;
  border-width: 1px;
  font-size: 18px;
  line-height: 30px;
  min-width: 280px;
}
