.applicant-phone-type {
  background-color: $bg-color-grayish;
  border-width: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.applicant-phone-type__header {
  color: $text-color-redish;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.applicant-phone-type__field {
  align-content: center;
  align-items: center;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 280px;
  margin-bottom: 20px;
}

.applicant-phone-type__selection {
  border-color: $bg-color-grayish;
  border-width: 1px;
  border-radius: 50%;
  min-width: 38px;
  min-height: 38px;
}

.applicant-phone-type__legend {
  color: $text-color-dark;
  border-color: $bg-color-grayish;
  border-width: 1px;
  font-size: 18px;
  line-height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: $tablet-min-width) {
  .applicant-phone-type {
    background-color: white;
    border-width: 1px;
    border-color: $bg-color-grayish;
    order: -2;
    width: 100%;
  }

  .applicant-phone-type__header {
    line-height: 30px;
  }
}

@media (min-width: $desktop-min-width) {
  .applicant-phone-type {
    width: 50%;
  }
}
