$bg-color-shaded: rgb(242, 242, 242);
$content-text-color: #283645;

.applicant-achievments {
  background-color: $bg-color-shaded;
  border-width: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 38px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 38px;
}

.applicant-achievments__header {
  color: $fieldname-text-color;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.applicant-achievments__field {
  align-content: center;
  align-items: center;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 280px;
  margin-bottom: 20px;
}

.applicant-achievments__selection {
  border-color: $bg-color-shaded;
  border-width: 1px;
  min-width: 38px;
  min-height: 38px;
}

.applicant-achievments__legend {
  color: $content-text-color;
  border-color: $bg-color-shaded;
  border-width: 1px;
  font-size: 18px;
  line-height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
