.applicant-comment {
  background-color: white;
  border-width: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 49px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  width: 100%;
}

.applicant-comment__header {
  color: $text-color-redish;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.applicant-comment__content {
  border-color: $bg-color-grayish;
  border-width: 2px;
  color: $text-color-dark;
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  min-height: 200px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  width: 100%;
}

.applicant-comment__content::placeholder {
  color: $text-color-dark;
  font-weight: normal;
}

@media (min-width: $tablet-min-width) {
  .applicant-comment {
    border-color: $bg-color-grayish;
    border-style: solid;
    border-width: 1px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
