.applicant-contacts {
  background-color: white;
  border-width: 0;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  width: 100%;
}

.applicant-contacts__header {
  display: none;
  text-transform: uppercase;
}

.applicant-contacts__box {
  background-color: white;
  border-width: 0;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  width: 100%;
}

.applicant-contacts__legend {
  color: $text-color-redish;
  flex-grow: 1;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 7px;
  padding-left: 22px;
  text-align: left;
  text-transform: uppercase;
}

.applicant-contacts__content {
  color: $main-bg-color-fallback;
  border-color: #f2f2f2;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  flex-grow: 1;
  font-size: 18px;
  line-height: 30px;
  min-width: 280px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-top: 14px;
}

@media (min-width: $tablet-min-width) {
  .applicant-contacts {
    border-width: 1px;
    border-color: $bg-color-grayish;
    order: -1;
    padding-bottom: 45px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 45px - 24px;
  }

  .applicant-contacts__box {
    margin-top: 24px;
  }

  .applicant-contacts__header {
    color: $text-color-redish;
    display: initial;
    font-size: 14px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  .applicant-contacts__content {
    order: -1;
  }
}
