$fieldname-text-color: #d22856;
$content-text-color: #283645;
$bg-color-shaded: rgb(242, 242, 242);
$bg-color-light: white;

.applicant-comment {
  background-color: white;
  border-width: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.applicant-comment__header {
  color: $text-color-redish;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.applicant-comment__content {
  color: $text-color-dark;
  border-color: $bg-color-grayish;
  border-width: 1px;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  min-width: 280px;
  padding: 20px;
}
