.applicant-achievments {
  background-color: #f2f2f2;
  border-width: 0;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 38px;
  width: 100%;
}

.applicant-achievments__header {
  color: $text-color-redish;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-transform: uppercase;
}

.applicant-achievments__field {
  align-content: center;
  align-items: center;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 280px;
  padding-bottom: 43px;
}

.applicant-achievments__selection {
  border-color: transparent;
  border-width: 0;
  border-style: none;
  width: 39px;
  height: 39px;
}

.applicant-achievments__legend {
  color: $text-color-dark;
  border-color: #f2f2f2;
  border-width: 1px;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  padding-left: 32px;
}


@media (min-width: $tablet-min-width) {
  .applicant-achievments {
    background-color: white;
    border-width: 1px;
    border-color: $bg-color-grayish;
    margin-top: 46px;
    padding-left: 60px;
    padding-top: 0px;
  }

  .applicant-achievments__header {
    margin-bottom: 35px;
    position: relative;
    top: -0.5em;
  }
}


@media (min-width: $desktop-min-width) {
  .applicant-achievments {
    align-content: flex-start;
    flex-wrap: wrap;
    height: 230px;
  }

  .applicant-achievments__field {
    min-width: initial;
    width: 30%;
  }

  .applicant-achievments__legend {
    margin-right: initial;
  }
}
