.buy-app {
  background-color: $bg-color-grayish;
  clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

.buy-app__container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 48px;
  padding-left: 20px;
  padding-top: 91px;
  padding-right: 20px;
  width: 100%;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .buy-app {
    clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
    padding-bottom: 26px;
    padding-top: 88px;
    margin-top: 20px;
  }

  .buy-app__container {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .buy-app {
    clip-path: polygon(0 81px, 100% 0, 100% 100%, 0 100%);
    margin-top: 16px;
    padding-bottom: 48px;
    padding-top: 148px;
  }

  .buy-app__container {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
}
