.buy-app {
  background-color: $bg-color-grayish;
  clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

.buy-app__container {
  margin: 0 auto;
  padding-bottom: 51px;
  padding-left: 20px;
  padding-top: 91px;
  padding-right: 20px;
  width: 100%;
}


@media (min-width: $tablet-min-width) {
  .buy-app {
    clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
    padding-bottom: 22px;
    padding-top: 88px;
    margin-top: 20px;
  }

  .buy-app__container {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-min-width) {
  .buy-app {
    padding-bottom: 48px;
    padding-top: 152px;
  }

  .buy-app__container {
    padding: 0 10px;
    width: 960px;
  }
}
