$header-color: rgb(40, 54, 69);
$contact-color: #d22856;
$text-color: rgb(40, 54, 69);

.contacts {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contacts__text {
  color: $text-color;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px * 1.2;
  margin-bottom: 10px;
  text-align: center;
}

.contacts__header {
  color: $header-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px * 1.2;
  margin-top: 20px;
  text-align: center;
}

.contacts__contact {
  color: $contact-color;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px * 1.2;
  text-align: center;
  text-decoration: none;
}
