$mobile-min-width: 320px;
$bg-color-light: white;
$bg-color-shaded: rbg(242, 242, 242);
$field-text-color: #d22856;
$highlighted-text-color: #d22856;
$submit-button-bg-color: rgb(42, 171, 109);

.contest-request {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.contest-request__names {
  margin-bottom: 20px;
}

.contest-request__achievments {
  margin-bottom: 20px;
}

.contest-request__contacts {
  margin-bottom: 20px;
}

.contest-request__phone-type {
  margin-bottom: 20px;
}

.contest-request__submit {
  background-color: $submit-button-bg-color;
  border: 0;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px;
  min-width: 280px;
  padding: 16px;
  text-transform: uppercase;
}

.contest-request__helper-text {
  color: black;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-request__helper-text--highlight {
  color: $highlighted-text-color;
}

@media (min-width: $tablet-min-width) {
  .contest-request {
    padding-left: 20px;
    padding-right: 20px;
  }
}
