.contact-block {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-top: 27px;
  padding-left: 1em;
  padding-right: 1em;
}

.contact-block--write-us {
  margin-top: 24px;
}

.contact-block__header {
  color: $text-color-dark;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
}

.contact-block__info {
  color: $text-color-redish;
  font-size: 24px;
  font-style: normal;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  margin-top: 2px;
  text-align: center;
  text-decoration: none;
}

.contact-block__info--email {
  margin-top: 5px;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .contact-block {
    margin-top: 0;
    margin-bottom: 48px;
    min-width: 40%;
    max-width: 50%;
  }

  .contact-block__info {
    margin-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contact-block__info--email {
    margin-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .contact-block {
    margin-bottom: 48px;
    margin-top: 0;
    max-width: 30%;
    min-width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact-block--write-us {
    order: 2;
  }

  .contact-block__header {
    margin-bottom: 19px;
  }

  .contact-block__info {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-block__info--email {
    padding-left: 0;
    padding-right: 0;
  }
}
