$map-mobile-height: 200px;
$map-tablet-height: 375px;
$map-desktop-height: 500px;

.contacts {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 46px;
}

.contacts__header {
  color: $text-color-dark;
  font-size: 24px;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  text-align: center;
}

.contacts__info-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
}

.contacts__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: $map-mobile-height;
  margin-top: 20px;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    min-height: $map-tablet-height;
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .contacts {
    padding-top: 66px;
  }

  .contacts__header {
    font-size: 50px;
    line-height: 1.2em;
    padding-left: 20%;
    padding-right: 20%;
  }

  .contacts__info-blocks {
    margin-top: 38px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    min-height: $map-desktop-height;
  }
}
