$map-mobile-height: 200px;
$map-tablet-height: 375px;
$map-desktop-height: 500px;

.contacts {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 42px;
}

.contacts__header {
  color: $text-color-dark;
  font-size: 24px;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  text-align: center;
}

.contacts__info-blocks {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin-top: 10px;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .contacts {
    padding-top: 46px;
  }

  .contacts__header {
    font-size: 40px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .contacts__info-blocks {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 47px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .contacts {
    padding-top: 66px;
  }

  .contacts__header {
    font-size: 50px;
    line-height: 1.2em;
    padding-left: 20%;
    padding-right: 20%;
  }

  .contacts__info-blocks {
    justify-content: space-between;
    margin-top: 58px;
    padding-left: 142px;
    padding-right: 142px;
  }
}
