$map-height: 200px;

.contacts {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 46px;
}

.contacts__header {
  color: $text-color-dark;
  font-size: 24px;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  text-align: center;
}

.contacts__info-blocks {
  list-style: none;
  margin-top: 10px;
}

.contacts__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: $map-height;
}
