$bg-color: #f2f2f2;
$border-bottom-color: rgba(black, 0.102);
$button-height: 48px;
$button-width: 48px;
$gap-after-button: 20px;

.filter-tools {
  align-items: center;
  background-color: $bg-color;
  border-bottom: 1px solid $border-bottom-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 21px;
}

.filter-tools__btn {
  background-color: transparent;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  border: 0;
  height: $button-height;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  width: $button-width;
}

.filter-tools__crop {
  background-image: url("../img/icon-editor-crop.svg");
}

.filter-tools__fill {
  background-image: url("../img/icon-editor-fill.svg");
  margin-top: 2px;
}

.filter-tools__contrast {
  background-image: url("../img/icon-editor-contrast.svg");
}

.filter-tools__lightness {
  background-color: red;
  border: 3px solid black;
  border-radius: 20%;
  box-shadow: 1;
  color: black;
  cursor: pointer;
  min-height: 50px;
  padding-top: 10px;
  min-width: 100%;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .filter-tools {
    align-items: flex-start;
    flex-direction: column;
    padding-left: 22px;
    padding-top: 5px;
  }

  .filter-tools__btn {
    background-position: 0 center;
    border-bottom-width: 2px;
    border-color: #dddfe0;
    border-style: solid;
    min-height: 72px;
    padding-left: 52px;
    width: 100%;
  }

  .filter-tools__crop {
    background-size: 22px 22px;
  }

  .filter-tools__fill {
    background-size: 24px 22px;
  }

  .filter-tools__contrast {
    background-position: 6px center;
    background-size: 16px 16px;
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .filter-tools {
    margin-top: -16px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
  }

  .filter-tools__btn {
    margin-left: 0;
    margin-right: 0;
    border-bottom-width: 1px;
  }

  .filter-tools__crop {
    background-size: 48px 48px;
    background-position: -2px center;
  }

  .filter-tools__fill {
    background-size: 54px 48px;
    background-position: -3px center;
  }

  .filter-tools__contrast {
    background-size: 32px 32px;
  }
}
