.map {
  clip-path: polygon(0 0, 50% 35px, 100% 0, 100% 100%, 0 100%);
  height: 62.5vw;
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.map__image {
  bottom: 0;
  display: block;
  height: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.map__pointer {
  background-image: url("../img/icon-map-marker.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: 27.5vw; // 27.5% = 88px of 320px width on the PSD layout
  left: 50%;
  height: 35px;
  position: absolute;
  transform: translate(-50%, 50%);
  width: 35px;
  z-index: 2;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .map {
    clip-path: polygon(0 0, 50% 68px, 100% 0, 100% 100%, 0 100%);
    height: 375px;
    margin-top: 28px;
  }

  .map__image {
    bottom: -106px;
  }

  .map__pointer {
    background-repeat: no-repeat;
    bottom: 44%; // 165/375 = 44%
    top: unset;
    transform: translate(-50%, 50%);
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .map {
    clip-path: polygon(0 0, 50% 105px, 100% 0, 100% 100%, 0 100%);
    height: 500px;
    margin-top: 0;
  }

  .map__image {
    bottom: -180px;
  }
}
