.map {
  clip-path: polygon(0 0, 50% 35px, 100% 0, 100% 100%, 0 100%);
  height: 62.5vw;
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.map__image {
  bottom: 0;
  display: block;
  height: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.map__pointer {
  background-image: url("../img/icon-map-marker.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: 27.5vw; // 27.5% = 88px of 320px width on the PSD layout
  left: 50%;
  height: 35px;
  position: absolute;
  transform: translate(-50%, 50%);
  width: 35px;
  z-index: 2;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .map {
    clip-path: polygon(0 0, 50% 68px, 100% 0, 100% 100%, 0 100%);
    height: 56.515151vw; // 56.515151% = 373px / 660px
    margin-top: 28px;
    overflow: hidden;

    @media (max-width: 699px) {
      // Map image for tablet mode is 700px-wide, so from 660px to 699px it doesn't scale
      height: 373px;
    }
  }

  .map__image {
    bottom: -18.142857vw; // -18.142857% = 127px / image width 700px
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;

    @media (max-width: 699px) {
      // Map image for tablet mode is 700px-wide, so from 660px to 699px it doesn't scale
      bottom: -127px;
      width: 700px;
    }
  }

  .map__pointer {
    background-repeat: no-repeat;
    bottom: 23.285714vw; // 23.285714% = 163 / 700px
    top: unset;
    transform: translate(-50%, 50%);

    @media (max-width: 699px) {
      // Map image for tablet mode is 700px-wide, so from 660px to 699px it doesn't scale
      bottom: 163px;
    }
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .map {
    clip-path: polygon(0 0, 50% 105px, 100% 0, 100% 100%, 0 100%);
    height: 41.75vw; // 41.75% = 501px height / 1200px width
    margin-top: 0;

    @media (max-width: 1200px) {
      // Map image for desktop mode is 1200px-wide, so from 960px to 1199px it doesn't scale
      height: 501px;
    }
  }

  .map__image {
    bottom: -16.5vw; // -16.5% = 198px / image width 1200px

    @media (max-width: 1199px) {
      // Map image for desktop mode is 1200px-wide, so from 960px to 1199px it doesn't scale
      bottom: -198px;
      width: 1200px;
    }
  }

  .map__pointer {
    bottom: 18.33333vw; // 18.(3)% = 221 / 1200px

    @media (max-width: 1199px) {
      // Map image for desktop mode is 1200px-wide (wider than 960px min desktop wide), so from 960px to 1200px it doesn't scale
      bottom: 221px;
    }
  }
}
