.motivation-intro {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2px;
}

.motivation-intro__text {
  color: $text-color-dark;
  font-size: 24px;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  margin-bottom: 31px;
  text-align: center;
}

@media (min-width: $tablet-min-width) {
  .motivation-intro {
    margin-bottom: 24px;
  }

  .motivation-intro__text {
    font-size: 40px;
    line-height: 1.2em;
    margin-bottom: initial;
  }
}

@media (min-width: $desktop-min-width) {
  .motivation-intro__text {
    font-size: 50px;
  }
}
