$iphone-screen-mobile-height: 320px;
$iphone-screen-mobile-height-cut: 45px;

$iphone-screen-tablet-height: 481px;
$iphone-screen-tablet-height-cut: 0;

$iphone-screen-desktop-height: 302px;
$iphone-screen-desktop-height-cut: 0;
$iphone-screen-desktop-width: 292px;


$bg-color-grayish: rgb(242, 242, 242);

$iphone-screen-mobile-filename: "../img/iphone-screen-mobile@1x.png";
$iphone-screen-tablet-filename: "../img/iphone-screen-3-tablet@1x.png";

.motivation {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30px;
}

.motivation__intro {
  background-color: white;
}

.motivation__container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding-top: 75px;
}

.motivation__facts {
  background-color: transparent;
}

.motivation__images {
  align-items: flex-start;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.motivation__image-initial {
  background-position-x: 50%;
  background-repeat: no-repeat;
  display: none;
  min-width: 292px;
}

.motivation__image-painted {
  background-position-x: 50%;
  background-repeat: no-repeat;
  display: none;
  min-width: 292px;
}

.motivation__image-shared {
  background-image: url($iphone-screen-mobile-filename);
  background-position-x: 50%;
  background-repeat: no-repeat;
  min-height: $iphone-screen-mobile-height - $iphone-screen-mobile-height-cut;
  min-width: 292px;
}

.motivation__skew-bg {
  background-color: $bg-color-grayish;
  clip-path: polygon(0 35px, 100% 0, 100% 100%, 0% 100%);
  left: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-min-width) {
  .motivation__container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2px;
  }

  .motivation__intro {
    width: 100%;
  }

  .motivation__facts {
    order: 3;
    width: 50%;
  }

  .motivation__skew-bg {
    clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
  }

  .motivation__images {
    width: 50%;
  }

  .motivation__image-shared {
    background-image: url($iphone-screen-tablet-filename);
    min-height: $iphone-screen-tablet-height - $iphone-screen-tablet-height-cut;
  }
}

@media (min-width: $desktop-min-width) {
  .motivation__container {
    flex-direction: column;
    flex-wrap: initial;
  }

  .motivation__images {
    width: 100%;
  }

  .motivation__image-initial {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    display: block;
    min-height: $iphone-screen-desktop-height - $iphone-screen-desktop-height-cut;
    min-width: $iphone-screen-desktop-width;
  }

  .motivation__image-painted {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    display: block;
    min-height: $iphone-screen-desktop-height - $iphone-screen-desktop-height-cut;
    min-width: $iphone-screen-desktop-width;
  }

  .motivation__image-shared {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    min-width: $iphone-screen-desktop-width;
  }

  .motivation__skew-bg {
    clip-path: polygon(0 95px, 100% 0, 100% 100%, 0% 100%);
  }
}
