$icon-24hours-tablet-width: 240px;
$icon-24hours-tablet-height: 280px;

$icon-24hours-desktop-width: 300px;
$icon-24hours-desktop-height: 345px;

$icon-24hours-top-padding: 48px;
$icon-24hours-bottom-padding: 48px;

.motivation-fact {
  background-color: $bg-color-grayish;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.motivation-fact--promo24hours {
  display: none;
}

.motivation-fact--promo24hours::before {
  display: none;
}

.motivation-fact__header {
  color: black;
  font-size: 18px;
  line-height: 24px;
  margin-top: 31px;
  margin-bottom: 12px;
}

.motivation-fact__text {
  color: $text-color-dark;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
}

.motivation-fact--promo24hours .motivation-fact__header {
  text-align: left;
}

.motivation-fact--promo24hours .motivation-fact__text {
  margin-left: 450px;
  text-align: left;
}

.motivation-fact__link {
  color: $text-color-redish;
  font-size: 18px;
  line-height: 30px;
  margin-left: 450px;
  margin-top: 1em;
  text-align: left;
}


@media (min-width: $tablet-min-width) {
  .motivation-fact {
    background: transparent;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 37px;
    padding-left: 50%;
    padding-right: 9px;
    padding-top: 0;
    width: 100%;
  }

  .motivation-fact--last-of-equals {
    padding-bottom: 40px;
  }

  .motivation-fact__header {
    margin-top: 0;
  }

  .motivation-fact--promo24hours {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 96px;
    position: relative;
  }

  .motivation-fact--promo24hours::before {
    align-items: center;
    background-image: url("../img/icon-timer.svg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: $icon-24hours-tablet-width $icon-24hours-tablet-height;
    color: $text-color-redish;
    content: "24";
    display: flex;
    font-size: 96px;
    font-weight: bold;
    justify-content: center;
    height: $icon-24hours-tablet-height;
    left: 20px;
    line-height: 1.557;
    padding-top: 15px;
    position: absolute;
    text-align: center;
    top: 55px;
    vertical-align: center;
    width: $icon-24hours-tablet-width;
  }

  .motivation-fact--promo24hours .motivation-fact__header {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-left: 50%;
    padding-right: 35px;
  }

  .motivation-fact--promo24hours .motivation-fact__text {
    margin-left: 50%;
    padding-right: 25px;
  }

  .motivation-fact--promo24hours .motivation-fact__link {
    font-size: 14px;
    line-height: 24px;
    margin-left: 50%;
    margin-top: 10px;
  }
}


@media (min-width: $desktop-min-width) {
  .motivation-fact {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: $desktop-max-content-width / 3 - 2 * 20px;
    margin-left: 14px;
    margin-right: 14px;
    padding-left: 1em;
    padding-right: 1em;
    width: unset;
  }

  .motivation-fact--promo24hours {
    background-color: initial;
    display: flex;
    flex-basis: $desktop-max-content-width;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
    min-height: $icon-24hours-bottom-padding +
      $icon-24hours-desktop-height +
      $icon-24hours-top-padding;
    padding-left: 377px;
    padding-right: 10px;
    padding-top: 118px;
    width: $desktop-min-width;
  }

  .motivation-fact--promo24hours::before {
    align-items: center;
    background-position-x: left;
    background-position-y: 28px;
    background-size: $icon-24hours-desktop-width $icon-24hours-desktop-height;
    display: flex;
    font-size: 120px;
    height: $icon-24hours-desktop-height;
    justify-content: center;
    left: 8px;
    line-height: 1.557em;
    padding-top: 43px;
    position: absolute;
    top: 0;
    width: $icon-24hours-desktop-width;
  }

  .motivation-fact__header {
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .motivation-fact__text {
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .motivation-fact--promo24hours .motivation-fact__header {
    margin-left: 0;
    margin-bottom: 21px;
    padding-left: 0;
  }

  .motivation-fact--promo24hours .motivation-fact__text {
    margin-left: 0;
    padding-left: 0;
  }

  .motivation-fact--promo24hours .motivation-fact__link {
    font-size: 18px;
    line-height: 30px;
    margin-left: 0;
    margin-top: 30px;
    padding-left: 0;
  }
}
