.motivation-facts {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 35px;
  text-align: center;
}


@media (min-width: $tablet-min-width) {
  .motivation-facts {
    justify-content: flex-start;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 71px;
    text-align: left;
    width: 100%;
  }
}


@media (min-width: $desktop-min-width) {
  .motivation-facts {
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: $desktop-max-content-width;
    padding-top: 54px;
    text-align: center;
  }
}
