$iphone-screen-mobile-height: 320px;
$iphone-screen-mobile-height-cut: 43px;

$iphone-screen-tablet-height: 481px;
$iphone-screen-tablet-width: 268px;
$iphone-screen-tablet-height-cut: 0;

$iphone-screen-desktop-height: 302px;
$iphone-screen-desktop-height-cut: 0;
$iphone-screen-desktop-width: 292px;


.motivation-images {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
  padding-top: 6px;
  padding-right: 20px;
}

.motivation-images__item {
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: 157px 320px;
  display: none;
  min-height: $iphone-screen-mobile-height - $iphone-screen-mobile-height-cut;
  min-width: 157px;
}

.motivation-images__item--shared {
  background-image: url("../img/iphone-screen-mobile@1x.png");
  display: unset;

  @media (min-resolution: $high-density-dpi),
    (min-resolution: $high-density-dpi) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .motivation-images {
    justify-content: flex-start;
    left: 0;
    padding-left: 20px;
    padding-top: 4px;
    position: absolute;
    top: 0;
  }

  .motivation-images__item {
    background-size: 268px 481px;
    height: $iphone-screen-tablet-height - $iphone-screen-tablet-height-cut;
    width: $iphone-screen-tablet-width;
  }

  .motivation-images__item--shared {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
  }

  @media (min-resolution: $high-density-dpi),
    (min-resolution: $high-density-dpi) {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
  }
}


@media (min-width: $desktop-min-width) {
  .motivation-images {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    position: relative;
    max-width: $desktop-max-content-width;
  }

  .motivation-images__item {
    background-size: 292px 302px;
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: $desktop-max-content-width / 3 - 2 * 20px;
    height: $iphone-screen-desktop-height - $iphone-screen-desktop-height-cut;
    position: relative;
    width: unset;
  }

  .motivation-images__item:first-of-type {
    left: -14px; // Due to image asymmetry
  }

  .motivation-images__item:nth-child(2) {
    left: 3px; // Due to image asymmetry
  }

  .motivation-images__item:last-of-type {
    right: -15px; // Due to image asymmetry
  }


  .motivation-images__item--initial {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    // margin-left: 3px;

    @media (min-resolution: $high-density-dpi),
      (min-resolution: $high-density-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }
  }

  .motivation-images__item--painted {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    // margin-left: 3px;

    @media (min-resolution: $high-density-dpi),
      (min-resolution: $high-density-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }
  }

  .motivation-images__item--shared {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");

    @media (min-resolution: $high-density-dpi),
      (min-resolution: $high-density-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }
  }
}
