$fact-color: black;

.motivation-facts {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

.motivation-facts__header {
  color: $fact-color;
  font-size: 18px;
  line-height: 18px * 2;
  text-align: center;
}

.motivation-facts__text {
  color: $fact-color;
  font-size: 14px;
  line-height: 14px * 2;
  margin-bottom: 24px;
  text-align: center;
}
