$iphone-screen-mobile-height: 320px;
$iphone-screen-mobile-height-cut: 43px;

$iphone-screen-tablet-height: 481px;
$iphone-screen-tablet-width: 268px;
$iphone-screen-tablet-height-cut: 0;

$iphone-screen-desktop-height: 302px;
$iphone-screen-desktop-height-cut: 0;
$iphone-screen-desktop-width: 292px;

$iphone-screen-mobile-filename: "../img/iphone-screen-mobile@1x.png";
$iphone-screen-tablet-filename: "../img/iphone-screen-3-tablet@1x.png";

.motivation-images {
  align-items: flex-start;
  background-color: transparent;
  padding-left: 20px;
  padding-top: 6px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.motivation-images__initial {
  background-position-x: 50%;
  background-repeat: no-repeat;
  display: none;
  min-width: $iphone-screen-desktop-width;
}

.motivation-images__painted {
  background-position-x: 50%;
  background-repeat: no-repeat;
  display: none;
  min-width: $iphone-screen-desktop-width;
}

.motivation-images__shared {
  background-image: url($iphone-screen-mobile-filename);
  background-position-x: 50%;
  background-repeat: no-repeat;
  min-height: $iphone-screen-mobile-height - $iphone-screen-mobile-height-cut;
  min-width: 157px;
}

@media (min-width: $tablet-min-width) {
  .motivation-images__shared {
    background-image: url($iphone-screen-tablet-filename);
    height: $iphone-screen-tablet-height - $iphone-screen-tablet-height-cut;
    width: $iphone-screen-tablet-width;
  }
}

@media (min-width: $desktop-min-width) {
  .motivation-images__initial {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    display: block;
    height: $iphone-screen-desktop-height - $iphone-screen-desktop-height-cut;
    width: $iphone-screen-desktop-width;
  }

  .motivation-images__painted {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    display: initial;
    height: $iphone-screen-desktop-height - $iphone-screen-desktop-height-cut;
    width: $iphone-screen-desktop-width;
  }

  .motivation-images__shared {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    height: $iphone-screen-desktop-height - $iphone-screen-desktop-height-cut;
    width: $iphone-screen-desktop-width;
  }
}
