.motivation-fact__header {
  color: black;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}

.motivation-fact__text {
  color: $text-color-dark;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
}

@media (min-width: $desktop-min-width) {
  .motivation-fact__header {
    font-size: 30px;
    line-height: 1em;
  }

  .motivation-fact__text {
    font-size: 18px;
    line-height: 30px;
  }
}
