.motivation-intro  {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.motivation-intro__text {
  font-size: 24px;
  line-height: 24px * 1.2;
  margin-bottom: 24px;
  text-align: center;
}
