$main-bg-photo-desktop-filename:"../img/bg-back-desktop@1x.jpg";
$main-bg-photo-mobile-filename: "../img/bg-back-mobile@1x.jpg";
$main-bg-photo-tablet-filename:"../img/bg-back-tablet@1x.jpg";

$main-photo-y-shift: -68px;
$main-bg-photo-y-shift: -110px;


$header-height: 170px;
$header-font-size: 24px;
$header-line-height: $header-font-size * 1.2;

.page-content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-content__header {
  background-color: $main-bg-color-fallback;
  background-image: url($main-bg-photo-mobile-filename);
  background-position-x: center;
  background-position-y: $main-photo-y-shift;
  background-repeat: no-repeat;
  color: white;
  font-size: $header-font-size;
  font-weight: 100;
  line-height: 1.2em;
  min-height: 170px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  text-align: center;
}

.page-content__intro-text {
  background-color: white;
  color: $text-color-dark;
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 49px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 45px;
  text-align: center;
}

.page-content__intro-text--details {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .page-content__header {
    background-image: url($main-bg-photo-tablet-filename);
    background-position-y: $main-bg-photo-y-shift;
    font-size: 50px;
    min-height: 330px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .page-content__intro-text {
    font-size: 18px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
  }
}

@media (min-width: $tablet-min-width) {
  .page-content__intro-text--details {
    display: initial;
  }
}


@media (min-width: $desktop-min-width) {
  .page-content__header {
    background-image: url($main-bg-photo-desktop-filename);
    background-position-y: $main-bg-photo-y-shift;
    font-size: 50px;
    min-height: 285px;
  }
}
