$academy-logo-width: 28px;
$academy-logo-height: 35px;

.page-footer {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.page-footer__academy {
  align-content: center;
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.page-footer__text {
  color: $text-color-dark;
  font-size: 14px;
  line-height: 18px;
  margin-right: 16px;
}

.page-footer__academy-logo {
  background-image: url("../img/htmlacademy.svg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  min-width: $academy-logo-width;
  min-height: $academy-logo-height;
}

@media (min-width: $tablet-min-width) {
  .page-footer {
    justify-content: space-between;
  }
}

@media (min-width: $desktop-min-width) {
  .page-footer {
    padding-left: 130px;
    padding-right: 130px;
  }
}
