$header-color: #1c2530;
$main-photo-average-color: #283645;
$navigation-bg-color: rgba(0, 0, 0, 0);
$padding-vertical: 20px;
$padding-horizontal: $padding-vertical;

.page-header {
  background-color: $main-photo-average-color;
  width: 100%;
}

.page-header__nav {
  width: 100%;
  background-color: rgba($header-color, 0.5);
  padding: $padding-vertical $padding-horizontal;
}
