$navigation-bg-color: rgba(black, 0.3);

$logo-desktop-height: 40px;
$logo-mobile-height: 22px;
$logo-tablet-height: 40px;

$logo-desktop-width: 147px;
$logo-mobile-width: 75px;
$logo-tablet-width: 147px;

$logo-desktop-url: "../img/logo-pink-white-desktop.svg";
$logo-mobile-url: "../img/logo-pink-white-mobile.svg";
$logo-tablet-url: "../img/logo-pink-white-tablet.svg";

$padding-before-content-mobile: 21px;


.page-nav {
  background-color: $navigation-bg-color;
  display: flex;
  flex-direction: column;
  padding-bottom: $padding-before-content-mobile;
  padding-top: $padding-before-content-mobile;
  position: relative;
}

.page-nav__logo {
  background-image: url($logo-mobile-url);
  background-repeat: no-repeat;
  left: 19px;
  min-height: $logo-mobile-height;
  min-width: $logo-mobile-width;
  position: absolute;
}

.page-nav__logo:active {
  stroke-opacity: 0.3;
}

.page-nav__menu-btn {
  background-color: transparent;
  background-image: url("../img/icon-menu-burger.svg");
  background-position: right center;
  background-repeat: no-repeat;
  border: 0;
  content: "";
  height: 24px;
  margin-right: 20px;
  margin-top: 21px;
  min-width: 50px;
  min-height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

.page-nav__menu-btn--open {
  background-image: url("../img/icon-menu-cross.svg");
}


@media (min-width: $tablet-min-width) {
  .page-nav {
    min-height: 110px;
    padding-top: 27px;
  }

  .page-nav__logo {
    background-image: url($logo-tablet-url);
    left: 20px;
    min-height: $logo-tablet-height;
    min-width: $logo-tablet-width;
  }

  .page-nav__menu-btn {
    margin-top: 45px;
  }

  .page-nav__menu {
    margin-top: 90px;
  }
}

@media (min-width: $desktop-min-width) {
  .page-nav {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 23px;
  }

  .page-nav__logo {
    background-image: url($logo-desktop-url);
    margin-left: 130px;
    height: $logo-desktop-height;
    left: 0;
    top: -9px;
    position: relative;
    width: $logo-desktop-width;
  }

  .page-nav__menu-btn {
    display: none;
  }

  .page-nav__menu {
    margin-right: 130px - (80px / 2);
    margin-top: 0;
  }
}
