$navigation-bg-color: rgba(black, 0.3);

$logo-mobile-height: 22px;
$logo-tablet-height: 40px;

$logo-mobile-width: 75px;
$logo-tablet-width: 147px;

$logo-mobile-url: "../img/logo-pink-white-mobile.svg";
$logo-tablet-url: "../img/logo-pink-white-tablet.svg";

$padding-before-content-mobile: 20px;

.page-nav {
  background-color: $navigation-bg-color;
  display: flex;
  flex-direction: column;
  padding-top: $padding-before-content-mobile;
  position: relative;
}

.page-nav__logo {
  background-image: url($logo-mobile-url);
  background-repeat: no-repeat;
  left: 20px;
  min-height: $logo-mobile-height;
  min-width: $logo-mobile-width;
  position: absolute;
}

.page-nave__logo:active {
  stroke-opacity: 0.3;
}

.page-nav__menu {
  margin-top: 45px;
}

@media (min-width: $tablet-min-width) {
  .page-nav__logo {
    background-image: url($logo-tablet-url);
    min-height: $logo-tablet-height;
    min-width: $logo-tablet-width;
  }

  .page-nav__menu {
    margin-top: 90px;
  }
}
