$background-color: #283645;
$padding-vertical: 20px;
$padding-horizontal: $padding-vertical;

.page-header {
  background-color: $background-color;
  padding: $padding-vertical $padding-horizontal;
  width: 100%;
}

.page-header__nav {
  width: 100%;
}
