.page-footer {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.page-footer--unnecessary {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .page-footer {
    justify-content: space-between;
    padding-top: 36px;
  }

  .page-footer--unnecessary {
    display: flex;
  }

  .page-footer__item {
    width: 33.3333%;
  }
}

@media (min-width: $desktop-min-width) {
  .page-footer {
    padding-bottom: 10px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 98px;
  }
}
