.page-header {
  background-color: $main-bg-color-fallback;
  background-image: url($main-bg-image-mobile-filename);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;  width: 100%;
}

.page-header__nav {
  width: 100%;
}

@media (min-width: $tablet-min-width) {
  .page-header {
    background-image: url($main-bg-image-tablet-filename);
  }
}

@media (min-width: $desktop-min-width) {
  .page-header {
    background-image: url($main-bg-image-desktop-filename);
  }
}
