.page-header {
  background-color: $main-bg-color-fallback;
  background-image: url($main-bg-image-mobile-filename);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;

  @media (min-resolution: $high-density-dpi),
    (min-resolution: $high-density-dppx) {
    background-image: url($main-bg-image-mobile2x-filename);
    background-size: 320px 462px;
  }
}

.page-header__box {
  background-color: rgba(black, 0.3);
}

.page-header__nav {
  width: 100%;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .page-header {
    background-image: url($main-bg-image-tablet-filename);
    background-size: 1200px 729px;

    @media (min-resolution: $high-density-dpi),
      (min-resolution: $high-density-dppx) {
      background-image: url($main-bg-image-tablet2x-filename);
    }
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .page-header {
    background-image: url($main-bg-image-desktop-filename);
    background-size: 100% auto;

    @media (max-width: 2560px) {
      background-size: 2560px 853px;
    }

    @media (min-resolution: $high-density-dpi),
      (min-resolution: $high-density-dppx) {
      background-image: url($main-bg-image-desktop2x-filename);
      background-position-y: 12px;
    }
  }

  .page-header__nav {
    margin-left: auto;
    margin-right: auto;
    max-width: $desktop-max-content-width;
  }
}
