$background-color: #283645;
$logo-height: 22.859px;
$logo-width: 74.426px;
$logo-url: "../img/logo-pink-white-mobile.svg";


.page-nav {
  display: flex;
  flex-direction: row;
}

.page-nav__logo {
  background-image: url($logo-url);
  background-repeat: no-repeat;
  margin-right: auto;
  min-height: $logo-height;
  min-width: $logo-width;
}

.page-nav__menu {
  margin-left: auto;
}
