$color: rgb(40, 54, 69);
$bg-color: #f2f2f2;

.post-photo {
  align-content: stretch;
  align-items: stretch;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post-photo__header {
  background-color: white;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.post-photo__header-text {
  color: $color;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.post-photo__images {
  background-color: $bg-color;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.post-photo__filters {
  background-color: $bg-color;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
