$bg-color: #f2f2f2;

.post-photo {
  align-content: stretch;
  align-items: stretch;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-photo__header {
  background-color: white;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  width: 100%;
}

.post-photo__header-text {
  color: $text-color-dark;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  width: 100%;
}

.post-photo__image {
  align-content: flex-start;
  background-color: $bg-color;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.post-photo__filters {
  background-color: $bg-color;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.post-photo__actions {
  background-color: $bg-color;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

@media (min-width: $tablet-min-width) {
  .post-photo {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .post-photo__header {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .post-photo__header-text {
    font-size: 18px;
  }

  .post-photo__image {
    width: 50%;
  }

  .post-photo__filters {
    width: 50%;
  }
}

@media (min-width: $desktop-min-width) {
  .post-photo {
    padding-left: 130px;
    padding-right: 130px;
  }

  .post-photo__image {
    height: 400px;
    width: 300px;
  }
}
