$bg-color: #f2f2f2;
$shaded-color: #dddfe0;

.post-actions {
  align-items: flex-start;
  background-color: $bg-color;
  border-top: 1px solid $border-bottom-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 202px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 38px;
  width: 100%;
}

.post-actions__btn {
  background-color: transparent;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding: 15px;
  width: 100%;
}

.post-actions__send {
  border-color: $text-color-redish;
  color: $text-color-redish;
}

.post-actions__cancel {
  border-color: $shaded-color;
  color: $shaded-color;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .post-actions {
    flex-direction: column;
    justify-content: space-between;
    min-height: 135px;
    padding-bottom: 0;
    padding-top: 0;
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .post-actions {
    align-items: flex-end;
    border-width: 0;
    flex-direction: row;
    min-height: unset;
    padding-left: 0;
    padding-right: 0;
  }

  .post-actions__btn {
    width: 185px;
  }
}
