$text-color: white;
$text-color-hover: #d22856;
$text-color-pressed: rgba(255, 255, 255, 0.302);

$background-color: #283645;

$icon-menu-burger-url: "img/icon-menu-burger.svg";
$icon-menu-closed: $icon-menu-burger-url;
$icon-closed-x-size: 50px;
$icon-closed-y-size: 24px;

$font-size: 18px;
$font-height: 32px;

.site-menu {
  list-style: none;
  background-color: $background-color;
}

.site-menu--closed {
  background-image: url($icon-menu-closed);
  background-repeat: no-repeat;
  background-size: $icon-closed-x-size $icon-closed-y-size;
}

.site-menu--closed::before {
  content: ".";
}

.site-menu__item {
  color: $text-color;
  font-size: $font-size;
  text-decoration: none;
}

.site-menu__item:hover,
.site-menu__item:focus {
  color: $text-color-hover;
}

.site-menu__item:active {
  color: $text-color-pressed;
}

.site-menu__item--not-clickable {
  color: $text-color;
}
