$text-color: white;
$text-color-hover: #d22856;
$text-color-pressed: rgba(255, 255, 255, 0.302);

$background-color: #283645;

$icon-menu-burger-url: "../img/icon-menu-burger.svg";
$icon-menu-cross-url: "../img/icon-menu-cross.svg";
$icon-menu-closed: $icon-menu-burger-url;
$icon-menu-open: $icon-menu-cross-url;
$icon-closed-width: 50px;
$icon-closed-height: 24px;

$font-size: 18px;
$font-height: 32px;

.site-menu {
  list-style: none;
  background-color: transparent;
  background-image: url($icon-menu-closed);
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  min-width: $icon-closed-width;
  min-height: $icon-closed-height;
}

.site-menu--open {
  background-image: url($icon-menu-open);
}

.site-menu__item {
  color: $text-color;
  display: none;
  font-size: $font-size;
  text-decoration: none;
}

.site-menu__item:hover,
.site-menu__item:focus {
  color: $text-color-hover;
}

.site-menu__item:active {
  color: $text-color-pressed;
}

.site-menu__item--hidden {
  display: none;
}

.site-menu__item--not-clickable {
  color: $text-color;
}
