.user-opinions {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-top: 42px;
  padding-bottom: 25px;
}

@media (min-width: $desktop-min-width) {
  .user-opinions {
    padding-top: 74px;
  }

  .user-opinions::before {
    content: "";
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    height: 64px;
    margin-bottom: 50px;
    width: 79px;
  }
}
