.user-opinions {
  width: 100%;
}

.user-opinions__list {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 33px;
  padding-top: 42px;
  width: $mobile-max-content-width;
}


@media (min-width: $tablet-min-width) {
  .user-opinions__list {
    margin-top: 53px;
    width: $tablet-max-content-width;
  }
}


@media (min-width: $desktop-min-width) {
  .user-opinions {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 72px;
    position: relative;
  }

  .user-opinions::before {
    content: "";
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    display: block;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 79px;
  }

  .user-opinions__list {
    align-items: flex-start;
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $desktop-max-content-width;
  }
}
