.user-opinion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
  padding-right: 14px;
}

.user-opinion__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.user-opinion__description {
  color: $text-color-dark;
  display: none;
  text-align: center;
}

.user-opinion__text {
  color: $text-color-dark;
  font-size: 14px;
  line-height: 30px;
  margin-top: 13px;
  text-align: center;
}

.user-opinion__text::before {
  content: "«";
  position: relative;
  left: 2px;
}

.user-opinion__text::after {
  content: "»";
  position: relative;
  right: 2px;
}

@media (min-width: $tablet-min-width) {
  .user-opinion__header {
    font-size: 20px;
    line-height: 30px;
    margin-top: 36px;
    order: 2;
  }

  .user-opinion__description {
    font-size: 14px;
    display: block;
    line-height: 30px;
    order: 2;
    padding-top: 2px;
  }

  .user-opinion__text {
    font-size: 18px;
    line-height: 30px;
    margin: initial;
  }
}

@media (min-width: $desktop-min-width) {
  .user-opinion {
    padding-left: 100px;
    padding-right: 100px;
    width: auto;
  }

  .user-opinion__header {
    font-size: 24px;
  }

  .user-opinion__description {
    font-size: 18px;
  }

  .user-opinion__text::before {
    margin-right: -3px;
  }

  .user-opinion__text::after {
    margin-left: -3px;
  }
}
