.user-opinion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
  padding-right: 14px;
}

.user-opinion__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.user-opinion__description {
  color: $text-color-dark;
  display: none;
  text-align: center;
}

.user-opinion__text {
  color: $text-color-dark;
  font-size: 14px;
  line-height: 30px;
  margin-top: 13px;
  text-align: center;
}

.user-opinion__text::before {
  content: "«";
  position: relative;
  left: 0.2em;
}

.user-opinion__text::after {
  content: "»";
  position: relative;
  right: 0.2em;
}

@media (min-width: $tablet-min-width) {
  .user-opinion__header {
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
    order: 2;
  }

  .user-opinion__description {
    font-size: 14px;
    display: block;
    line-height: 30px;
    order: 2;
    padding-top: 4px;
  }

  .user-opinion__text {
    font-size: 18px;
    line-height: 30px;
    margin: initial;
  }
}

@media (min-width: $desktop-min-width) {
  .user-opinion {
    padding-left: 130px + 130px;
    padding-right: 130px + 130px;
  }

  .user-opinion__text {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .user-opinion__text::before {
    color: gray;
    content: "<";
    font-size: 60px;
    font-weight: 100;
    position: relative;
    left: -130px;
  }

  .user-opinion__text::after {
    color: gray;
    content: ">";
    font-size: 60px;
    font-weight: 100;
    position: relative;
    right: -130px;
  }

  .user-opinion__header {
    font-size: 24px;
  }

  .user-opinion__description {
    font-size: 18px;
  }
}
