$gap-between-posts: 20px;

$main-bg-photo-desktop-filename:"../img/bg-back-desktop@1x.jpg";
$main-bg-photo-mobile-filename: "../img/bg-back-mobile@1x.jpg";
$main-bg-photo-tablet-filename:"../img/bg-back-tablet@1x.jpg";

$main-photo-y-shift: -65px;
$main-bg-photo-y-shift: -110px;

.users-posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: -$gap-between-posts;
}

.users-posts__intro-header {
  background-color: $main-bg-color-fallback;
  background-image: url($main-bg-photo-mobile-filename);
  background-position-x: center;
  background-position-y: $main-photo-y-shift;
  background-repeat: no-repeat;
  color: white;
  font-size: 24px;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  min-height: 170px;
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
}

.users-posts__intro-text {
  background-color: white;
  color: $text-color-dark;
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

.users-posts__list {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (min-width: $tablet-min-width) {
  .users-posts__intro-header {
    background-image: url($main-bg-photo-tablet-filename);
    background-position-y: $main-bg-photo-y-shift;
    font-size: 50px;
    min-height: 330px;
    padding-left: 80px;
    padding-right: 80px;
}

  .users-posts__intro-text {
    font-size: 18px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
  }

  .users-posts__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $desktop-min-width) {
  .users-posts__intro-header {
    background-image: url($main-bg-photo-desktop-filename);
    background-position-y: $main-bg-photo-y-shift;
    font-size: 50px;
    min-height: 285px;
  }
}
