$color: rgb(40, 54, 69);
$message-bg-color: #f2f2f2;
$width-wide: 100%;
$vertical-gap-between-posts: 20px;

.user-post {
  align-items: stretch;
  align-content: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: $gap-between-posts;
}

.user-post__img {
  flex-grow: 1;
  flex-basis: 1;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.user-post--panoram-of-the-day .user-post__img {
  height: auto;
  margin-left: initial;
  margin-right: initial;
  width: 100%;
}

.user-post__info {
  background-color: $message-bg-color;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: $vertical-gap-between-posts;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-min-width) {
  .user-post {
    width: 300px;
  }

  .user-post--panoram-of-the-day {
    width: 100%;
  }

  .user-post__info {
    margin-left: initial;
    margin-right: initial;
  }

  .user-post__img {
    margin-left: initial;
    margin-right: initial;
  }
}
