$like-image-filename: "../img/icon-heart.svg";
$like-image-width: 12.545px;
$like-image-height: 11.99px;
$color: rgb(40, 54, 69);

.user-post-info__header {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-post-info__name {
  color: $color;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px * 1.714;
  margin-right: 3px;
}

.user-post-info__time-passed {
  color: $color;
  font-size: 12px;
  font-weight: $font-weight-light;
  line-height: 2em;
  text-transform: uppercase;
}

.user-post-info__time-passed::before {
  content: "(";
}

.user-post-info__time-passed::after {
  content: ")";
}

.user-post-info__text {
  color: $color;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.user-post-info__footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 9px;
}

.user-post-info__set-your-like {
  background-color: transparent;
  background-image: url($like-image-filename);
  background-repeat: no-repeat;
  min-width: $like-image-width;
  min-height: $like-image-height;
  border: 0;
  padding: 0;
  margin-right: 18px;
}

.user-post-info__likes-count {
  color: $text-color-redish;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: $tablet-min-width) {
  .user-post-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-post-info--panoram-of-the-day .user-post-info__header {
    order: -2;
    width: 50%;
  }

  .user-post-info__footer {
    margin-top: 0;
    order: -1;
    width: 50%;
  }
}
