$gap-between-posts: 20px;

.users-posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: -$gap-between-posts;
}

.users-posts__list {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (min-width: $tablet-min-width) {
  .users-posts__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $desktop-min-width) {
  .users-posts__list {
    padding-left: 130px;
    padding-right: 130px;
  }
}
