.user-opinions__list {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-top: 42px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-min-width) {
  .user-opinions__list {
    margin-top: 53px;
  }
}

@media (min-width: $desktop-min-width) {
  .user-opinions {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 72px;
  }

  .user-opinions::before {
    content: "";
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    display: block;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 79px;
  }

  .user-opinions__list {
    align-items: flex-start;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .user-opinions__list::before {
    background-image: url("../img/icon-review-arrow-left.svg");
    background-size: 21px 41px;
    content: "";
    flex-shrink: 0;
    position: relative;
    top: 29px;
    width: 21px;
    height: 41px;
  }

  .user-opinions__list::after {
    background-image: url("../img/icon-review-arrow-right.svg");
    background-size: 21px 41px;
    content: "";
    flex-shrink: 0;
    position: relative;
    top: 29px;
    width: 21px;
    height: 41px;
  }
}
