$color: rgb(40, 54, 69);
$message-bg-color: #f2f2f2;
$width-wide: 100%;
$vertical-gap-between-posts: 20px;

.user-post {
  align-items: stretch;
  align-content: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.user-post--panoram-of-the-day {
  order: -1;
}

.user-post__img {
  // height: auto;
  line-height: 0;
  margin-left: 20px;
  margin-right: 20px;
  width: 280px;
}

.user-post--panoram-of-the-day .user-post__img {
  margin-left: initial;
  margin-right: initial;
  width: 100%;
}

.user-post__info {
  background-color: $message-bg-color;
  padding-bottom: 21px;
  padding-left: 18px;
  padding-right: 5px;
  padding-top: 17px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 145px;
  text-align: left;
}

.user-post--panoram-of-the-day .user-post__info {
  min-height: 120px;
}

@media (min-width: $tablet-min-width) {
  .user-post {
    width: 300px;
  }

  .user-post--panoram-of-the-day {
    width: 100%;
  }

  .user-post__img {
    margin-left: initial;
    margin-right: initial;
    height: 300px;
    width: 300px;
  }

  .user-post--panoram-of-the-day .user-post__img {
    margin-left: -20px;
    margin-right: -20px;
    height: auto;
    text-align: center;
    width: 660px;
  }

  .user-post__info {
    margin-left: initial;
    margin-right: initial;
  }
}

@media (min-width: $desktop-min-width) {
  .user-post--panoram-of-the-day .user-post__img {
    margin-left: -130px;
    margin-right: -130px;
    width: 1200px;
  }
}
