$block-mobile-min-height: 396px;
$main-photo-y-shift: -67px;

$block-tablet-min-height: 620px;
$main-photo-tablet-y-shift: -110px;

$block-desktop-min-height: 745px;
$main-photo-desktop-y-shift: -110px;

$hand-with-phone-width: 320;
$hand-with-phone-height: 314;

.work-example {
  align-items: center;
  background-color: $main-bg-color-fallback;
  background-image: url($main-bg-image-mobile-filename);
  background-position-x: center;
  background-position-y: $main-photo-y-shift;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: $block-mobile-min-height;
  position: relative;
}

.work-example__hand-with-phone {
  bottom: 0;
  margin-top: 110px;
  position: sticky;
  width: 258px;
  z-index: 1;
}

.work-example__app-download {
  position: relative;
  z-index: 2;
}

@media (min-width: $tablet-min-width) {
  .work-example {
    align-items: flex-start;
    background-image: url($main-bg-image-tablet-filename);
    background-position-y: $main-photo-tablet-y-shift;
    min-height: $block-tablet-min-height;
    padding-left: 20px;
    padding-top: 90px;
  }

  .work-example__hand-with-phone {
    position: absolute;
    bottom: 0;
    right: -5%;
  }
}

@media (min-width: $desktop-min-width) {
  .work-example {
    background-image: url($main-bg-image-desktop-filename);
    background-position-y: $main-photo-desktop-y-shift;
    min-height: $block-desktop-min-height;
    padding-left: 130px;
    padding-top: 100px;
  }

  .work-example__hand-with-phone {
    position: absolute;
    bottom: 0;
    right: 0%;
  }
}
