$block-mobile-min-height: 396px;
$main-photo-y-shift: -68px;

$block-tablet-min-height: 618px;
$main-photo-tablet-y-shift: -112px;

$block-desktop-min-height: 745px;
$main-photo-desktop-y-shift: -110px;

$hand-with-phone-width: 320;
$hand-with-phone-height: 314;

.work-example {
  align-items: center;
  background-color: $main-bg-color-fallback;
  background-image: url($main-bg-image-mobile-filename);
  background-position-x: center;
  background-position-y: $main-photo-y-shift;
  background-repeat: no-repeat;
  background-size: 320px 462px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: $block-mobile-min-height;
  position: relative;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .work-example {
    background-image: url($main-bg-image-mobile2x-filename);
    background-size: (320px + 4px) (462px + 5px);
    background-position-y: $main-photo-y-shift - 4px;
  }
}

.work-example__hand-with-phone {
  border: 0;
  left: -31px;
  line-height: 0;
  margin-top: 108px;
  position: relative;
  z-index: 1;
}

.work-example__app-download {
  position: relative;
  z-index: 2;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  .work-example {
    align-items: flex-start;
    background-image: url($main-bg-image-tablet-filename);
    background-position-y: $main-photo-tablet-y-shift;
    background-size: 1200px 729px;
    min-height: $block-tablet-min-height;
    padding-left: 20px;
    padding-top: 63px;
  }

  .work-example__hand-with-phone {
    position: absolute;
    bottom: 0;
    right: -5%;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .work-example {
      background-image: url($main-bg-image-tablet2x-filename);
      background-size: (1200px + 0) (729px + 4px);
    }
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  .work-example {
    background-image: url($main-bg-image-desktop-filename);
    background-position-y: $main-photo-desktop-y-shift;
    background-size: 2560px 853px;
    min-height: $block-desktop-min-height;
    max-height: $block-desktop-min-height;
    padding-left: 130px;
    padding-top: 100px;
  }

  .work-example__hand-with-phone {
    position: absolute;
    bottom: 0;
    left: unset;
    right: 4px;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .work-example {
      background-image: url($main-bg-image-desktop2x-filename);
      background-size: (2560px + 0) (853px + 0);
      background-position-y: $main-photo-desktop-y-shift + 12px;
    }
  }
}
