$hand-with-phone-width: 320;
$hand-with-phone-height: 314;
$original-photo-average-color: #283645;

.work-example {
  background-color: $original-photo-average-color;
  display: flex;
  position: relative;
  top: -10px;
}

.work-example__original {
  flex-grow: 1;
  flex-shrink: 1;
  left: 0;
  position: relative;
  top: 0;
}

.work-example__hand-with-phone {
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  justify-self: center;
  position: absolute;
}
