@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

html {
  font-family: "OpenSans", "Open-Sans", "Open Sans", "Arial", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: $tablet-min-width - 1px;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  body {
    max-width: $desktop-min-width - 1px;
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  body {
    min-width: unset;
  }
}
