@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: "OpenSans", "Open-Sans", "Open Sans", "Arial", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: $mobile-min-width;
}


/*
 * Tablet mode section
 */
@media (min-width: $tablet-min-width) {
  body {
    width: $tablet-min-width;
  }
}


/*
 * Desktop mode section
 */
@media (min-width: $desktop-min-width) {
  body {
    width: $desktop-min-width;
  }
}
