@import "variables";
@import "global";
@import "blocks/visually-hidden";
@import "blocks/page-header";
@import "blocks/page-nav";
@import "blocks/site-menu";
@import "blocks/page-content";
@import "blocks/work-example";
@import "blocks/app-download";
@import "blocks/app-platforms";
@import "blocks/motivation";
@import "blocks/motivation-intro";
@import "blocks/motivation-facts";
@import "blocks/user-opinions";
@import "blocks/buy-app";
@import "blocks/contacts";
@import "blocks/users-posts";
@import "blocks/user-post";
@import "blocks/user-post-info";
@import "blocks/post-photo";
@import "blocks/filter-tools";
@import "blocks/post-actions";
@import "blocks/page-footer";
@import "blocks/contest-request";
@import "blocks/applicant-names";
@import "blocks/applicant-achievments";
@import "blocks/applicant-contacts";
@import "blocks/applicant-phone-type";
@import "blocks/applicant-comment";
