@import "global";
@import "blocks/visually-hidden";
@import "blocks/page-header";
@import "blocks/page-nav";
@import "blocks/site-menu";
@import "blocks/work-example";
@import "blocks/app-download";
@import "blocks/app-platforms";
