@import "global";
@import "blocks/visually-hidden";
@import "blocks/page-header";
@import "blocks/page-nav";
@import "blocks/site-menu";
@import "blocks/page-content";
@import "blocks/work-example";
@import "blocks/app-download";
@import "blocks/app-platforms";
@import "blocks/motivation";
@import "blocks/motivation-intro";
@import "blocks/motivation-facts";
@import "blocks/user-opinions";
@import "blocks/buy-app";
@import "blocks/contacts";
@import "blocks/users-posts";
