//Sizes

$tablet-min-width: 660px;
$desktop-min-width: 1200px;


// Colors

$main-bg-color-substitute: #283645;


// Photos

$main-bg-image-mobile-filename: "../img/bg-back-mobile@1x.jpg";
$main-bg-image-tablet-filename: "../img/bg-back-tablet@1x.jpg";
