//Sizes

$tablet-min-width: 660px;
$desktop-min-width: 1200px;


// Colors

$main-bg-color-fallback: #283645;
$text-color-dark: rgb(40, 54, 69);


// Photos

$main-bg-image-desktop-filename: "../img/bg-back-desktop@1x.jpg";
$main-bg-image-mobile-filename: "../img/bg-back-mobile@1x.jpg";
$main-bg-image-tablet-filename: "../img/bg-back-tablet@1x.jpg";


// Fonts

$font-weight-light: 200;
